body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}


.navbar {
    background: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    color: #ff3366;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


.hero {
    background: #ff3366;
    color: white;
    text-align: center;
    padding: 60px 20px;
    margin: 30px;
    border-radius: 12px;
}


.section {
    margin: 40px;
}


.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category {
    background: #eee;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}


.properties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.price {
    color: #ff3366;
    font-weight: bold;
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
}
