body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f6f6;
}


.navbar {
    background: white;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.navtengah {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ff3366;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}


.bannergede {
    background: #ff3366;
    color: white;
    text-align: center;
    padding: 60px 20px;
    margin: 30px;
    border-radius: 12px;
}


.section {
    margin: 40px;
}

.section h2 {
    margin-bottom: 20px;
}


.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.category-card {
    background: #eee;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.category-card:hover {
    background: #ddd;
}


.properties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.propertikartu {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-decoration: none;
    color: black;
}

.propertikartu:hover {
    background: #f0f0f0;
}

.location {
    color: #666;
}

.price {
    color: #ff3366;
    font-weight: bold;
}

footer {
    background-color: #f9f9f9;
    padding: 40px 30px 20px;
    border-top: 1px solid #ddd;
    font-size: 0.9rem;
    color: #555;
}
.footcont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto 15px;
}
.footcont h4 {
    margin-bottom: 12px;
    font-weight: 700;
    color: #333;
}
.footcont p {
    font-size: 0.9rem;
    line-height: 1.4;
}
.footcont ul {
    list-style: none;
}
.footcont ul li {
    margin-bottom: 8px;
}
.footcont ul li a {
    color: #555;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footcont ul li a:hover {
    color: #ff2a55;
}
.copyright {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.8rem;
    color: #555;
    margin-top: 2rem;
}
.rightside {
    display: flex;
    gap: 20px;
}
.rightside a {
    color: #555;
    text-decoration: none;
}