* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #f8f9fb;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    border-bottom: 1px solid #eee;
}

.logo {
    color: #ff4d6d;
    font-weight: bold;
    font-size: 22px;
}

.navbar nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.welcome {
    font-size: 14px;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,.05);
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.row:last-child {
    border-bottom: none;
}

label {
    font-weight: bold;
}

select {
    padding: 6px 10px;
}

.btn-primary {
    width: 100%;
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 12px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btn-secondary {
    display: block;
    background: #ff4d6d;
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
}

.success {
    background: #e6fffa;
    color: #0f766e;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}

footer {
    background: white;
    padding: 40px;
    margin-top: 60px;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

footer h4 {
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    color: #666;
}

copyright {
    text-align: center;
}
