* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f7f7f7;
}


.navbar {
    background: white;
    border-bottom: 1px solid #eee;
}

.nav-inner {
    max-width: 1100px;
    margin: auto;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff385c;
    font-weight: bold;
    font-size: 20px;
}

nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #555;
}

nav .active {
    color: #ff385c;
}

.auth button {
    padding: 6px 14px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.signup {
    background: #ff385c;
    color: white;
    border: none;
}


.main {
    max-width: 1100px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}


.search-bar,
.filter-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.search-bar input,
.filter-bar select {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.search-btn {
    background: #ff385c;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
}

.filter-btn {
    background: #111;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 25px;
}


.card {
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 16px;
}

.badge {
    background: #eee;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 12px;
}

.rating {
    color: #ff9900;
}

.price {
    font-weight: bold;
}

.detail-btn {
    display: inline-block;
    margin-top: 10px;
    background: #ffe5ea;
    color: #ff385c;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: bold;
}


.pagination {
    text-align: center;
    margin-top: 30px;
}

.pagination a {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination .active {
    background: #ff385c;
    color: white;
}


.footer {
    background: #f7f7f7;
    padding: 40px;
    border-top: 1px solid #eee;
}

.footer-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
